daemonset:
  enabled: true

resources:
  requests:
    cpu: 25m
    memory: 96Mi
  limits:
    cpu: 300m
    memory: 256Mi

rbac:
  create: true
serviceAccount:
  create: true

podSecurityPolicy:
  enabled: false

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"

extraVolumes:
  - name: promtail-positions
    hostPath:
      path: /var/lib/promtail
      type: DirectoryOrCreate

extraVolumeMounts:
  - name: promtail-positions
    mountPath: /var/lib/promtail

extraArgs:
  - -config.expand-env=true

config:
  logLevel: info
  logFormat: logfmt

  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
      batchwait: 1s
      batchsize: 1048576
      backoff_config:
        min_period: 500ms
        max_period: 5s
        max_retries: 10
      timeout: 10s

  positions:
    filename: /var/lib/promtail/positions.yaml

  snippets:
    pipelineStages:
      - cri: {}

    scrapeConfigs: |
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - action: keep
            source_labels: [__meta_kubernetes_pod_phase]
            regex: Running

          - action: replace
            source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - action: replace
            source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - action: replace
            source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - action: replace
            source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node

          - action: replace
            source_labels: [__meta_kubernetes_pod_uid, __meta_kubernetes_pod_container_name]
            separator: /
            target_label: __path__
            replacement: /var/log/pods/*$1/*.log

serviceMonitor:
  enabled: false
