deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  limits_config:
    retention_period: 168h
    ingestion_rate_mb: 4
    ingestion_burst_size_mb: 8
    max_streams_per_user: 2000
    max_global_streams_per_user: 5000
    reject_old_samples: true
    reject_old_samples_max_age: 168h

  compactor:
    retention_enabled: true
    delete_request_store: filesystem
    working_directory: /var/loki/compactor

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    # storageClassName: local-path   # <- use this on many K3s clusters, OR just remove the field
    accessMode: ReadWriteOnce
    size: 10Gi

  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 400m
      memory: 768Mi

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

service:
  type: ClusterIP

gateway:
  enabled: false

chunksCache:
  enabled: false
resultsCache:
  enabled: false

lokiCanary:
  enabled: true

monitoring:
  serviceMonitor:
    enabled: false
  rules:
    enabled: false
