apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: echo
  namespace: dev
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - echo.yared.site
      secretName: echo-tls
  rules:
    - host: echo.yared.site
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: echo
                port:
                  number: 80
